@model SlingerTracker.Models.Entry[]

@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<main role="main">

    <div class="container">
        <table class="table">
            
            <tr>
                <th>Date</th>
                <th>Name</th>
                <th>Location</th>
            </tr>
            
            @foreach (var entry in Model)
            {
                
                <tr>
                    <td>@entry.Date</td>
                    <td>@entry.Name</td>
                    <td>@entry.Location</td>
                </tr>
                //<h4>@Html.ActionLink(entry.DisplayText, "Detail", new { id = entry.Id })</h4>
            }
        </table>       
    </div>

</main>